<div class="container main-container">
   <h1>Demos <small>angular</small> </h1>
   <hr>


   <!--ngStyle-->
   <app-ng-style></app-ng-style>

   <!--css-->
   <app-css></app-css>
   
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus accusamus, nobis excepturi cupiditate modi accusantium ullam doloremque culpa nesciunt ipsa dolore consectetur atque? Ipsum doloribus necessitatibus placeat, ad nesciunt error.
   Quo animi, numquam sed maiores, incidunt harum nulla fugit quos tempore cupiditate asperiores ea sint voluptatibus quam velit veniam fugiat molestias sapiente ad ratione accusamus nostrum. </p>
  
    <!--clases-->
    <app-clases></app-clases>


</div>